In [5]:
# The Meditation Case Study
# libraries
import pandas as pd
import numpy as np

import math 
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [33]:
# import the data
import csv
medi = pd.read_table("Expression.txt")

# medi
medi.columns

Index(['Control_RIPK2_1', 'Control_RIPK2_2', 'Meditation_RIPK2_1',
       'Meditation_RIPK2_2', 'Control_COX2_1', 'Control_COX2_2',
       'Meditation_COX2_1', 'Meditation_COX2_2', 'Control_CCR7_1',
       'Control_CCR7_2', 'Meditation_CCR7_1', 'Meditation_CCR7_2',
       'Control_CXCR1_1', 'Control_CXCR1_2', 'Meditation_CXCR1_1',
       'Meditation_CXCR1_2', 'Control_IL-6_1', 'Control_IL-6_2',
       'Meditation_IL-6_1', 'Meditation_IL-6_2', 'Control_TNF_1',
       'Control_TNF_2', 'Meditation_TNF_1', 'Meditation_TNF_2'],
      dtype='object')

In [34]:
# Examples on getting tidy data
medi_clean = pd.melt(
    medi,
    id_vars=['Control_RIPK2_1'],
    var_name=['Control_RIPK2_2'],
    value_name='Meditation_RIPK2_1'
)
print(medi_clean)

     Control_RIPK2_1   Control_RIPK2_2  Meditation_RIPK2_1
0               0.70   Control_RIPK2_2                1.43
1               0.39   Control_RIPK2_2                1.82
2               1.22   Control_RIPK2_2                0.59
3               1.78   Control_RIPK2_2                0.47
4               0.59   Control_RIPK2_2                1.03
..               ...               ...                 ...
478             1.79  Meditation_TNF_2                0.79
479             0.51  Meditation_TNF_2                0.54
480             1.18  Meditation_TNF_2                0.65
481            -0.03  Meditation_TNF_2                 NaN
482             0.67  Meditation_TNF_2                 NaN

[483 rows x 3 columns]

In [35]:
# Make a DataFrame
df = pd.DataFrame({
            'name': ["John Smith", "Jane Doe", "Mary Johnson"],
            'treatment_a': [None, 16, 3], 
            'treatment_b': [2, 11, 1]})
df

           name  treatment_a  treatment_b
0    John Smith          NaN            2
1      Jane Doe         16.0           11
2  Mary Johnson          3.0            1

In [36]:
medi_clean.to_csv('tidy_data_example1-clean.csv')

In [37]:
df_melt = pd.melt(df, id_vars='name')
df_melt

           name     variable  value
0    John Smith  treatment_a    NaN
1      Jane Doe  treatment_a   16.0
2  Mary Johnson  treatment_a    3.0
3    John Smith  treatment_b    2.0
4      Jane Doe  treatment_b   11.0
5  Mary Johnson  treatment_b    1.0

In [38]:
df_melt_pivot = pd.pivot_table(df_melt,
                               index='name',
                               columns='variable',
                               values='value')

df_melt_pivot

df_melt_pivot.reset_index()

variable          name  treatment_a  treatment_b
0             Jane Doe         16.0         11.0
1           John Smith          NaN          2.0
2         Mary Johnson          3.0          1.0

In [40]:
medi_index = medi.reset_index()
medi_index
# If we had the index column:
medi_melt = pd.melt(medi_index, id_vars='index')

# If we don't have an index column, or ID variables: 
medi_melt = pd.melt(medi)
medi_melt

             variable  value
0     Control_RIPK2_1   0.70
1     Control_RIPK2_1   0.39
2     Control_RIPK2_1   1.22
3     Control_RIPK2_1   1.78
4     Control_RIPK2_1   0.59
..                ...    ...
499  Meditation_TNF_2   0.79
500  Meditation_TNF_2   0.54
501  Meditation_TNF_2   0.65
502  Meditation_TNF_2    NaN
503  Meditation_TNF_2    NaN

[504 rows x 2 columns]

In [41]:
medi_melt['treatment'] = medi_melt['variable'].str.split('_').str.get(0)

# split up the three variables, call the .str attribute to get strings
medi_melt['treatment'], medi_melt['gene'], medi_melt['time'] = medi_melt['variable'].str.split('_').str


# Drop the variable column
medi_melt.drop('variable', axis=1)

     value   treatment   gene time
0     0.70     Control  RIPK2    1
1     0.39     Control  RIPK2    1
2     1.22     Control  RIPK2    1
3     1.78     Control  RIPK2    1
4     0.59     Control  RIPK2    1
..     ...         ...    ...  ...
499   0.79  Meditation    TNF    2
500   0.54  Meditation    TNF    2
501   0.65  Meditation    TNF    2
502    NaN  Meditation    TNF    2
503    NaN  Meditation    TNF    2

[504 rows x 4 columns]